<h1>Uppercase Pipe</h1>
<b>{{title | uppercase}}</b><br/>
<h1>Lowercase Pipe</h1>
<b>{{title | lowercase}}</b>
<h1>Currency Pipe</h1>
<b>{{price | currency:"USD"}}</b><br/>
<b>{{price | currency:"USD":true}}</b> //Boolean true is used to get the sign of the currency.
<h1>Date pipe</h1>
<b>{{todaydate | date:'d/M/y'}}</b><br/>
<b>{{todaydate | date:'shortTime'}}</b>
<h1>Decimal Pipe</h1>
<b>{{ 123.4567890 | number: '3.2-4' }}</b> // 3 is for main integer, 2 min decimal digits -4 maximum decimal digits 

<h1>Json Pipe</h1>
<b>{{person | json }}</b>
<h1>Percent Pipe</h1>
<b>{{00.123456 | percent}}</b>
<h1>Slice Pipe</h1>
<b>{{months | slice:2:6}}</b> 
<h1>Custom Pipe Rs</h1>
<b>{{price | rs}}</b> 
