<H1>College List</H1>

<p style="color:red" >{{message}} </p>

<table>
    <tr>
      <td>Name</td>
      <td><input [(ngModel)]="form.name"  name="name" type="text"></td>
      <td>Address</td>
      <td><input [(ngModel)]="form.address"  name="adddress" type="text"> </td>
      <td ><button (click)="search()">Search</button></td>
    </tr>  
  </table>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>City</th>
    <th>State</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr  *ngFor = "let e of list  " >
    <td>{{e.id}}</td>
    <td>{{e.name}}</td>
    <td>{{e.address}}</td>
    <td>{{e.phoneNo}}</td>
    <td>{{e.city}}</td>
    <td>{{e.state}}</td>
    <td><button (click)="edit(e.id)">Edit</button></td>
    <td><button (click)="delete(e.id)">Delete</button></td>
  </tr>
</table>

<HR>
<table border=1>
<tr><th>API:</th><td>SEARCH Marksheet</td></tr>
<tr><th>Request URL:</th><td>http://api.sunilos.com:9080/ORSP10/College/search</td></tr>
<tr><th>Request Method:</th><td>POST</td></tr>
<tr><th>Request Object:</th><td>{{getString(form)}}</td></tr>
<tr><th>Response Object:</th><td>{{getString(responseObject)}}</td></tr>
</table>


<HR>
<table border=1>
  <tr><th>API:</th><td>DELETE Marksheet</td></tr>
  <tr><th>Request URL:</th><td>http://api.sunilos.com:9080/ORSP10/College/delete/152</td></tr>
  <tr><th>Request Method:</th><td>GET</td></tr>
  <tr><th>Request URI Param:</th><td>/53 (Primary Key)</td></tr>
  <tr><th>Response Object:</th>
  <td>&#123; "success":true,"result": &#123;"data": &#123;"id":152,"name":"GSITS","address":"indore","state":"MP","city":"indore","phoneNo":"9988776677" &#125;  &#125;  &#125; </td>
  </tr>
</table>



