<H1>College List</H1>

<p style="color:red" >{{message}} </p>

<table>
    <tr>
      <td>Name</td>
      <td><input [(ngModel)]="form.name"  name="name" type="text"></td>
      <td>Address</td>
      <td><input [(ngModel)]="form.address"  name="adddress" type="text"> </td>
      <td ><button (click)="search()">Search</button></td>
    </tr>  
  </table>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>City</th>
    <th>State</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr  *ngFor = "let e of list  " >
    <td>{{e.id}}</td>
    <td>{{e.name}}</td>
    <td>{{e.address}}</td>
    <td>{{e.phoneNo}}</td>
    <td>{{e.city}}</td>
    <td>{{e.state}}</td>
    <td><button (click)="edit(e.id)">Edit</button></td>
    <td><button (click)="delete(e.id)">Delete</button></td>
  </tr>
</table>


