<!--  
Main page of application. 
<router-outlet> tage is replaced by routed page.
You can layout your application here.  
-->
<table>
  <tr>
    <td>
      <img src="assets/logo.jpg" height="50px">
    </td>
    <td>
      <font size="8"> {{title}} </font>
    </td>
  </tr>
</table>
<hr>
<table width="100%">
  <tr>
    <td>
      <a [routerLink] = "['/login']" >Login</a> |
      <a [routerLink] = "['/admin']" >Admin Login</a> |
      <a [routerLink] = "['/welcome']" >Welcome</a> |
      <a [routerLink] = "['/marksheet']" >Marksheet</a> |
      <a [routerLink] = "['/marksheetlist']" >Marksheet List</a> |
      <a [routerLink] = "['/college']" >College</a> |
      <a [routerLink] = "['/collegelist']" >College List</a> |
      <a [routerLink] = "['/pipe']" >Pipes</a> |
      <a [routerLink] = "['/document']" >Document</a> |
      <a href="one">One</a> |
      <a href="two">Two</a> |
    </td>
    <td align="right">
      Welcome  
    </td>
  </tr>
</table>


<hr>

<div >
  <router-outlet></router-outlet>
</div>

<Hr>
<H6>Copyright (c) SunilOS InfoTech Pvt Ltd, {{subtitle}}</H6>
